<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
</head>
<body>
<p><span th:utext="${info}"></span></p>
<p th:text="${person.name}"></p>
<p th:text="${person.age}"></p>
<div th:switch="${person.sex}">
    <p th:case="1">Nam</p>
    <p th:case="2">Nữ</p>
    <p th:case="*">Chưa xác định</p>
</div>
<p th:if="${person.isMarried}">Đã kết hôn</p>
<p th:unless="*{person.isMarried}">Chưa kết hôn</p>
<p th:text="${person.createTime}"></p>
<p th:text="${person.language}"></p>
<form th:action = "@{/person/register}" th:method="post">
    <input type="text" name ="name">
    <input type="text" name ="age">
    <input type="submit">
</form>
</body>
</html>
</html>